html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*Reset para rems=10px de 16px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", "Noto Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/*Globales*/

.container {
  width: 98%;
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2rem;
}

@media (min-width: 900px) {
  h3 {
    font-size: 3rem;
  }
}

h4 {
  font-size: 2.6rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* Colores */

:root {
  --violetaSeparador: #e5deea;
  --colorLetra: #64566b;
}

/*keyframes y animaciones*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Utilidades*/

.centrarTexto {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.animacionFadeIn {
  animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.5s;
  /* Internet Explorer */
  -o-animation: fadein 1.5s;
  /* Opera < 12.1 */
}

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.flexBlockStyle {
  flex-basis: 100%;
  flex-wrap: wrap;
}

/*Header*/

header.cabecera {
  background-color: var(--violetaSeparador);
  -webkit-box-shadow: 0px 7px 6px 0px rgba(140, 125, 140, 1);
  -moz-box-shadow: 0px 7px 6px 0px rgba(140, 125, 140, 1);
  box-shadow: 0px 7px 6px 0px rgba(140, 125, 140, 1);
  -webkit-transition: position 10s;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: position 10s;
}

.contenedorBarra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: lighter;
}

a.logoHome {
  font-size: 3rem;
  color: var(--colorLetra);
  padding: 1rem;
  flex-basis: calc(70% - 1rem);
  transition: all 0.5s ease;
}

@media screen and (min-width: 900px) {
  a.logoHome {
    font-size: 4.5rem;
    padding: 0.5rem;
    transition: color 0.25s ease;
    flex-basis: auto;
    font-style: italic;
  }
  a.logoHome:hover {
    color: #861bbb70;
  }
}

/*Navegacion principal*/

.navegacionPrincipal {
  display: none;
  width: 100%;
  text-align: center;
  line-height: 1;
  /*poner 2 en la version escritorio*/
}

.navegacionPrincipal a {
  font-size: 2.2rem;
  color: var(--colorLetra);
  display: block;
  margin: 0 0 2rem 0;
}

@media (min-width: 900px) {
  .navegacionPrincipal {
    display: inline-block;
    line-height: 2;
    text-align: right;
    flex-basis: calc(40% - 1rem);
  }
  .navegacionPrincipal a {
    display: inline;
    margin-right: 5rem;
    font-size: 2.6rem;
    transition: color 0.25s ease;
  }
  .navegacionPrincipal a:last-of-type {
    margin-right: 0;
  }
  .navegacionPrincipal a:hover {
    color: #861bbb9f;
  }
}

/*Menu Movil*/

div.menuMovil {
  flex-basis: calc(30% - 1rem);
  font-size: 4rem;
  color: var(--colorLetra);
}

div.menuMovil:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  .menuMovil {
    display: none;
  }
}

/*Info Principal*/

.fondo {
  position: relative;
  height: auto;
}

.fondo::before {
  content: "";
  background-image: url(../img/fondos/background.jpg);
  z-index: -1;
}

.informacionPrincipal {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 2rem 2rem;
}

@media (min-width: 768px) {
  .informacionPrincipal {
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 900px) {
  .informacionPrincipal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
  }
}

.informacionPrincipal img {
  border-radius: 50% 50%;
  border: 1px solid #5e6668;
}

@media (min-width: 900px) {
  .informacionPrincipal img {
    border-radius: 50% 50%;
    border: 1px solid #5e6668;
    width: 52%;
  }
}

.descripcionPerfil {
  text-align: center;
  color: white;
  margin-top: 2rem;
  background-color: #1a15157c;
}

@media (min-width: 900px) {
  .descripcionPerfil {
    padding: 0;
    margin-left: 5rem;
  }
}

.textoPerfil {
  font-size: 2.2rem;
  padding: 2rem;
}

.universidadEnlace {
  color: #f7b982;
}

@media (min-width: 900px) {
  .textoPerfil {
    font-size: 2.8rem;
    padding: 2rem;
  }
  .universidadEnlace {
    color: #f7b982;
  }
}

/*Subfooter*/

/*Redes sociales*/

section.redesSociales {
  display: flex;
  flex-direction: column;
  background-color: var(--violetaSeparador);
}

@media (min-width: 900px) {
  section.redesSociales {
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 0;
  }
}

section.redesSociales h2 {
  margin: 2rem 0;
  color: var(--colorLetra);
  font-weight: lighter;
  font-style: oblique;
}

@media (min-width: 900px) {
  section.redesSociales h2 {
    flex-basis: calc(38% - 1rem);
  }
}

section.redesSociales .logosRedes {
  display: flex;
  padding: 0 0 3rem 0;
  justify-content: center;
}

@media (min-width: 768px) {
  section.redesSociales .logosRedes {
    flex-basis: calc(60% - 1rem);
    justify-content: space-evenly;
  }
}

@media (min-width: 900px) {
  section.redesSociales .logosRedes {
    flex-basis: calc(60% - 1rem);
    padding: 0;
    justify-content: center;
  }
}

section.redesSociales .logosRedes a {
  display: flex;
  flex-basis: 25%;
  margin-right: 2rem;
}

section.redesSociales .logosRedes a:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {
  section.redesSociales .logosRedes a {
    flex-basis: 20%;
  }
}

@media (min-width: 900px) {
  section.redesSociales .logosRedes a {
    flex-basis: 18%;
    margin-right: 5rem;
  }
}

section.redesSociales .logosRedes img {
  width: 100%;
  transition: opacity 0.5s ease;
}

@media (min-width: 900px) {
  section.redesSociales .logosRedes img {
    opacity: 0.7;
    padding-right: 1rem;
  }
  section.redesSociales .logosRedes img:hover {
    opacity: 1;
  }
}

section.redesSociales .logosRedes img:last-of-type {
  padding-right: 0;
}

/*Footer final de pagina*/

footer.copyright {
  background-color: black;
}

footer.copyright p {
  color: white;
}

/** INTERNAS **/

/* Mas Info */

/*Estudios*/

div.estudios {
  display: block;
  padding: 5rem 2rem;
}

@media (min-width: 768px) {
  div.estudios {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 900px) {
  div.estudios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

div.estudios div.descripcionEstudios {
  display: block;
  background-color: #3e3c3cd0;
  padding: 1.8rem;
}

@media (min-width: 768px) {
  div.estudios div.descripcionEstudios {
    flex-basis: 75%;
  }
}

@media (min-width: 900px) {
  div.estudios div.descripcionEstudios {
    flex: 0 0 calc(70% - 1rem);
  }
}

div.estudios div.descripcionEstudios p {
  color: white;
  font-size: 2rem;
}

@media (min-width: 768px) {
  div.estudios a {
    flex-basis: 35%;
    margin: 0;
  }
  div.estudios a img {
    margin: 0 auto;
  }
}

div.estudios img {
  display: block;
  background-color: #e5deea6c;
  border-radius: 50%;
  padding: 2rem;
  width: 85%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2rem;
}

@media (min-width: 900px) {
  div.estudios img {
    background-color: #e5deea6c;
    flex: 0 0 calc(30% - 1rem);
    border-radius: 50%;
    padding: 3rem;
    margin: 1.5rem auto;
  }
}

div.fotoConEpigrafe {
  display: block;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  div.fotoConEpigrafe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (min-width: 900px) {
  div.fotoConEpigrafe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
}

div.fotoConEpigrafe img {
  display: block;
  height: 45rem;
  border: 5px solid #a7a6ae;
  border-radius: 2%;
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

@media (min-width: 768px) {
  div.fotoConEpigrafe img,
  div.fotoConEpigrafe div.epigrafeFoto {
    margin: 0;
    background-color: #3e3c3cd0;
    flex-basis: 40%;
  }
  div.fotoConEpigrafe img {
    flex-basis: 5%;
  }
}

@media (min-width: 900px) {
  div.fotoConEpigrafe img {
    height: 60rem;
    border: 5px solid #a7a6ae;
    border-radius: 2%;
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
  }
}

div.fotoConEpigrafe div.epigrafeFoto {
  display: block;
  background-color: #3e3c3c71;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 3rem 1rem 1rem 1rem;
}

@media (min-width: 900px) {
  div.fotoConEpigrafe div.epigrafeFoto {
    display: inline;
    flex: 0 0 calc(40% - 1rem);
    margin: 0;
  }
}

.titulares {
  background-color: var(--violetaSeparador);
  text-transform: uppercase;
  margin: 0;
  padding: 1rem;
  color: var(--colorLetra);
  font-weight: 400;
  font-style: italic;
}

/*Tecnologias*/

div.fondo2 {
  position: relative;
  height: auto;
}

div.fondo2::before {
  background-image: url(../img/fondos/background2.jpg);
  content: "";
  z-index: -1;
}

div.fondoInfo {
  position: relative;
  height: auto;
}

div.fondoInfo::before {
  background-image: url(../img/fondos/backgroundInfo.jpg);
  content: "";
  z-index: -1;
}

.contenedorCaja {
  display: flex;
  padding: 4rem 2rem;
  justify-content: center;
  z-index: 1;
}

div.tecnologiasConocidas {
  /* background-color: rgba(143, 130, 149, 0.5); */
  background-color: #12121270;
  padding: 1rem;
  border-radius: 2.5%;
}

@media (min-width: 900px) {
  div.tecnologiasConocidas {
    width: 90%;
  }
}

.menuTecnologias {
  border-bottom: #d1cfe0 0.3rem solid;
  display: flex;
  justify-content: space-between;
}

.menuTecnologias a {
  border-right: #d1cfe0 0.3rem solid;
  width: 33.3%;
  font-size: 3rem;
  font-family: "Noto Sans", sans-serif;
  color: #e0def0;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: bold;
  position: relative;
}

.menuTecnologias a small {
  display: none;
}

@media (min-width: 900px) {
  .menuTecnologias a {
    font-size: 3.5rem;
  }
  .menuTecnologias a small {
    display: block;
  }
}

.menuTecnologias a:last-of-type {
  border: none;
}

/*oculto todos los div,solo muestro los activos (con .activo)*/

.ocultar {
  display: none;
}

/* Flecha del menu */

.seleccionMenu::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  width: 30px;
  bottom: -20px;
  background-image: url(../img/flechaMenu.png);
  background-position: top center;
  background-repeat: no-repeat;
}

/*--*/

div.activo {
  display: block !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 900px) {
  div.activo {
    display: flex !important;
  }
}

div.contenedorSeccionesMenu {
  justify-content: center;
  vertical-align: middle;
  color: #e0def0;
}

section.frontendLenguajes,
section.backendLenguajes {
  display: inline;
  font-size: 2rem;
}

@media (min-width: 900px) {
  section.frontendLenguajes,
  section.backendLenguajes {
    font-size: 3rem;
    display: inline;
    flex-basis: calc(50% - 1rem);
  }
}

section.frontendLenguajes img {
  width: 100%;
}

section.frontendLenguajes a {
  width: 25%;
}

section.backendLenguajes img {
  width: 100%;
}

section.backendLenguajes a {
  width: 30%;
}

div.imgTecnologias {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

@media (min-width: 900px) {
  div.imgTecnologias {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    margin-top: 2rem;
  }
}

img.imgTecnologiasEscritorio {
  display: block;
  background-size: cover;
  margin: 0 auto;
}

img#pythonLogo {
  width: 40%;
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  img#pythonLogo {
    margin-bottom: 1.8rem;
  }
}

img#cLogo {
  width: 30%;
}

@media (min-width: 600px) {
  img#cLogo {
    width: 15%;
  }
}

@media (min-width: 900px) {
  img#cLogo {
    width: 35%;
  }
}

img#javaLogo {
  width: 25%;
}

#tecnologiasBD {
  padding: 2rem 0;
}

img#mysqlLogo,
img#postgresqlLogo,
img#mongoDbLogo {
  width: 100%;
  margin-top: 3rem;
}

#tecnologiasBD a {
  display: block;
  margin: 0 auto;
}

#tecnologiasBD {
  width: 65%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  #tecnologiasBD a[href="#tecnologia9"] {
    width: 25%;
  }
  #tecnologiasBD a[href="#tecnologia10"] {
    width: 17%;
  }
  #tecnologiasBD a[href="#tecnologia12"] {
    /*MongoDB*/
    width: 30%;
  }
}

div.contenedorLogo {
  display: block;
  margin-bottom: 2.5rem;
}

@media (min-width: 900px) {
  div.contenedorLogo {
    display: block;
    margin-bottom: 0;
    flex-basis: calc(33% - 1rem);
    padding: 2rem 0;
  }
}

p.logoTexto {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

/*Cursos*/

div.fondo3 {
  position: relative;
  height: auto;
}

div.fondo3::before {
  background-image: url(../img/fondos/background3.jpg);
  content: "";
  z-index: -1;
}

div.cursos {
  background-color: rgba(245, 240, 248, 0.5);
  padding: 1rem;
  border-radius: 2.5%;
  width: 90%;
}

.padding0 {
  padding: 0;
}

/* Cursos */

.cursosLista {
  counter-reset: cursosLista;
  padding: 0 1rem;
}

.curso {
  display: block;
  color: #332e35;
}

@media (min-width: 768px) {
  .curso {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.curso p:before {
  counter-increment: cursosLista;
  content: "•\00a0";
}

.curso p {
  font-size: 18px;
  font-family: "Noto Sans";
}

@media (min-width: 768px) {
  .curso p {
    font-size: 18px;
    flex-basis: 80%;
  }
}

@media (min-width: 900px) {
  .curso p {
    font-size: 22px;
  }
}

.centradorFlex {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .centradorFlex {
    flex-basis: 20%;
  }
}

.curso a {
  display: block;
  width: 50%;
}

@media (min-width: 900px) {
  .curso a {
    display: block;
  }
}

.curso img {
  margin: 2rem 0;
}

/**PAGINA CONTACTO**/

.fondoContacto {
  position: relative;
  height: auto;
}

.fondoContacto:before {
  background-image: url(../img/fondos/contacto.jpg);
  content: "";
  z-index: -1;
}

/* Formulario */

form.formularioContacto {
  background-color: rgba(219, 181, 181, 0.4);
  border-radius: 2.5%;
  padding: 1.5rem;
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: "Noto Sans", sans-serif;
}

@media (min-width: 768px) {
  form.formularioContacto {
    width: 100%;
    padding: 2.5rem;
    font-size: 2rem;
  }
}

form.formularioContacto legend {
  font-size: 2rem;
  line-height: 1.5;
}

@media (min-width: 900px) {
  form.formularioContacto legend {
    font-size: 3rem;
  }
}

div.labelInput {
  margin-top: 1rem;
}

@media (min-width: 900px) {
  div.labelInput {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

div.labelInput input {
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  border: none;
  padding: 1rem;
}

div.labelInput .mensaje {
  width: 100%;
  border: none;
  padding: 1rem;
  height: 10rem;
}

@media (min-width: 768px) {
  div.labelInput label {
    flex-basis: 15%;
  }
  div.labelInput input {
    flex-basis: 100%;
  }
  div.labelInput .mensaje {
    height: 20rem;
    margin-top: 1rem;
  }
}

form.formularioContacto .btnEnviarContacto {
  display: block;
  margin: 1rem auto 0 auto;
  width: 100%;
  border: none;
  padding: 1rem 0;
  font-weight: bold;
  background-color: #dd8b8b;
  color: white;
  cursor: pointer;
}

.cargando {
  background-image: url("../img/loadingForm.gif");
  background-size: 25px 25px;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 900px) {
  form.formularioContacto .btnEnviarContacto {
    width: 25%;
    margin-top: 2rem;
  }
}

section.containerContactoDirecto {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(219, 181, 181, 0.4);
  border-radius: 2.5%;
}

@media (min-width: 900px) {
  section.containerContactoDirecto {
    width: 90%;
  }
}

div.contenedorPadding {
  padding: 0 2rem 4rem 2rem;
}

section.containerContactoDirecto h2 {
  margin: 0 0 2rem 0;
}

div.datosContacto {
  padding-bottom: 2rem;
  font-size: 2rem;
}

@media (min-width: 900px) {
  div.datosContacto {
    display: flex;
    font-size: 2.4rem;
    justify-content: space-around;
    padding-bottom: 3rem;
  }
}

div.datosContacto i {
  font-size: 3rem;
  color: #3c3341;
}

.fixed {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

/*Otras clases*/

.swal2-popup {
  font-size: 1.6rem !important;
}

.swal2-icon {
  width: 5em !important;
  height: 5em !important;
  border-width: 0.25em !important;
}

/* Caja tecnologia (colorbox)*/

.tecnologiaLinkCaja {
  background-color: rgba(229, 222, 234, 0.6);
  padding: 2rem;
}

.tecnologiaLinkCaja img {
  width: 50%;
  padding: 1rem 0;
}

@media (min-width: 900px) {
  .tecnologiaLinkCaja img {
    width: 20%;
    padding: 1rem 0;
  }
  .tecnologiaLinkCaja img[alt="Imagen PHP"],
  .tecnologiaLinkCaja img[alt="Imagen Node.js"] {
    padding: 1rem 0;
  }
  .tecnologiaLinkCaja img[alt="Imagen Java"] {
    width: 13%;
  }
  .tecnologiaLinkCaja img[alt="Imagen C"] {
    width: 15%;
  }
}

.tituloCajaTecnologia {
  margin: 0;
}

.infoCajaTecnologia {
  font-size: 1.8rem;
}
